h1 {
    text-align: center;
}
div {
    background : gold;
    border-radius: 10px;
    width:80%;
    margin:0 auto;
    min-height:60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button {
    width:90%;
    font-size: 150%;
    background: salmon;
    border-radius: 10px;
}
